header {
  background: linear-gradient(#00000000 0%, #1c1d31 90%),
    url(/assets/banner.png) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}

#logo {
  position: absolute;
  width: 15em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
#faq {
  background: #1c1d31;
  color: white;
  font-family: "Minecraft";
  text-align: center;
}
#faq {
  display: center;
}
#faq > h1 {
  color: #fbcc6c;
}
#faq > p {
  color: #a48aba;
}
.itemQuestion,
.sectionTitle {
  color: #fbcc6c;
  text-decoration: none;
}
.itemAnswer,
.sectionNote {
  color: #a48aba;
  text-decoration: none;
  margin: 0 10em;
}
.itemPhoto {
  width: 25%;
  height: 25%;
}
.itemRelated {
  margin: 0;
  padding: 1em;
}
.itemRelated > a,
.sectionNote > a {
  color: #c0713f;
}
#disclaimer {
  padding: 0.67em 0;
  margin: 0;
}
