nav{
  z-index: 9999;
  position: relative;
}
nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  gap: 10px 20px;
}
nav ul li {
  display: inline-block;
  text-align: center;
}
nav ul li a img {
  position: relative;
  top: -3px;
  height: 60px;
}
nav ul li a:hover > img {
  top: -3px;
}
nav ul li a {
  display: block;
}
nav{
    height:10%;
}
.disabled-tab{
  filter: grayscale(100%);
}
