header {
    background: linear-gradient(#00000000 0%, #1c1d31 90%),
    url(assets/banner.svg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0;
    color: var(--furf-gold);
}

p {
    margin: 0;
    color: inherit;
}

header > #headerSubtitle {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Minecraft", sans-serif;
    margin: 0;
    color: var(--furf-gold);
    /*text-shadow: 0px -1px 0px #FCE2AB, -4px 0px 0px #C87333, -4px 4px 0px #A15635, 4px 4px 0px #A15635, -4px -4px 0px #C87333, 0px 4px 0px #A15635, 0px -4px 0px #C87333, 4px -4px 0px #A15635;*/
    line-height: 56px;
}

header > .downloadButtons {
    position: absolute;
    font-family: "Minecraft", sans-serif;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    image-rendering: crisp-edges;
}

#logo {
    position: absolute;
    width: 30em;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.downloadButton {
    transition: all 200ms ease-out;
    font-size: 25px;
    color: var(--furf-gold);
    /* border-radius: 15px; */
    background: var(--furf-background);
    padding: 10px;
    text-align: center;
    margin: 25px;
    display: inline-block;
    border: 5px solid var(--furf-orange);
    /* border: 5px solid #662e96; */
}

.downloadButton:hover {
    transform: scale(1.25);
    color: var(--furf-violet-light);
    background: var(--furf-background);
    border: 5px solid var(--furf-violet-dark);
}

.socials {
    position: absolute;
    bottom: 0;
    right: 0;
}

.socials > a {
    color: #ffffff00;
}

svg {
    fill: var(--furf-gold);
    transition: 200ms;
}

svg:hover {
    fill: var(--furf-orange);
}

.theBiggestAndPhattestPhuckingDisclaimerInHumanHistory {
    position: absolute;
    bottom: 0;
    left: 0;
}

.theBiggestAndPhattestPhuckingDisclaimerInHumanHistory span {
    display: none;
    font-size: 18px;
}

.theBiggestAndPhattestPhuckingDisclaimerInHumanHistory:hover span {
    display: block;
    font-family: "Minecraft", sans-serif;
    position: fixed;
    overflow: hidden;
    width: 35%;
    padding: 10px;
    background-color: var(--furf-background-dark);
    color: var(--furf-gold);
    font-size: 18px;
}

body {
    overflow: hidden;
}

:root {
    --furf-gold: #fbcc6c;
    --furf-orange: #c87333;
    --furf-violet-light: #d48af1;
    --furf-violet-dark: #683d8d;
    --furf-background: #444a71;
    --furf-background-dark: #1c1d31e0;
}
