header {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(28, 29, 49, 1) 90%),
    url(/assets/banner.png) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}
h1 {
  margin: 0;
  color: #fbcc6c;
}
p {
  margin: 0;
  color: #c87333;
}
header > #headerSubtitle {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:"Minecraft";
  margin: 0;
  color: #fbcc6c;
}
header > .downloadButtons {
  position: absolute;
  font-family:"Minecraft";
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
}
img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#logo {
  position: absolute;
  width: 40%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.downloadButton {
  font-size: 25px;
  border-radius: 50px;
  color: white;
  background: #c65df0;
  padding: 10px;
  text-align: center;
  margin: 25px;
  display: inline-block;
  border: 5px solid #662e96;
}
.downloadButton > a {
  color: white;
  text-decoration: none;
}
.socials {
  position: absolute;
  bottom: 0;
  right: 0;
}
.socials > a{
    color:#ffffff00
}
svg {
  fill: #fbcc6c;
  transition:200ms
}
svg:hover {
  fill: #c87333;
}
