header {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(28, 29, 49, 1) 90%),
    url(/assets/banner.png) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}
body {
  background: #1c1d31;
}
#logo {
  position: absolute;
  width: 25em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
header > #headerSubtitle {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Minecraft";
  margin: 0;
  color: #fbcc6c;
}
#credits {
  background: #1c1d31;
  color: white;
  font-family: "Minecraft";
  text-align: center;
}
#credits > div {
  display: inline-block;
  margin: 20px;
}
#credits > div > a {
  color: white;
  text-decoration: none;
}
#noQuoteCredits {
  background: #1c1d31;
  color: white;
  font-family: "Minecraft";
  text-align: center;
  margin: 20px;
}
