header {
  background: linear-gradient(#00000000 0%, #1c1d31 90%),
    url(/assets/banner.png) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
}
#logo {
  position: absolute;
  width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#credits {
  background: #1c1d31;
  color: white;
  font-family: "Minecraft";
  text-align: center;
}
#credits > div {
  display: inline-block;
  margin:20px;
}
#credits > div > a{
    color:white;
    text-decoration: none;
}
